name: Robot Framework Tests Frontend

on:
  pull_request:
    branches:
      - main

jobs:
  robot-framework-testes-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install robotframework
          pip install robotframework-seleniumlibrary
          pip install robotframework-requests
          pip install robotframework-faker
          # O webdriver-manager ou o próprio SeleniumLibrary cuidam do driver agora

      - name: Run Robot Framework Tests
        env:
          CI: true
        run: |
          cd blacklist-academyt15-robot/blacklist-academyt15-front-robot/
          # A flag --console colors ajuda a ver o log colorido no github actions
          robot --console colors --outputdir results tests/login/
        continue-on-error: false

      - name: Upload Test Results
        # Passo extra: Salva os relatórios (html/xml) para você baixar no GitHub
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: robot-results
          path: blacklist-academyt15-robot/blacklist-academyt15-front-robot/results/